@page "/not-found"
@layout MainLayout
@using RetirementTime.Resources.Common
@inject IStringLocalizer<CommonResources> Localizer

<h3>@Localizer["NotFound_Title"]</h3>
<p>@Localizer["NotFound_Message"]</p>
