@page "/beginner-guide/introduction"
@inherits RetirementTime.Components.AuthenticatedComponentBase
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resources.SharedResources> Localizer
@rendermode InteractiveServer

<h3>@Localizer["Introduction_Title"]</h3>

<p class="align-baseline">@Localizer["Introduction_Description"]</p>
<button type="button" class="align-baseline" @onclick="NavigateToAssets">
    @Localizer["Introduction_GetStarted"]
</button>

@code {
    private void NavigateToAssets()
    {
        Navigation.NavigateTo("/beginner-guide");
    }
}