@page "/beginner-guide/introduction"
@attribute [Authorize]
@using RetirementTime.Resources.BeginnerGuide
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<BeginnerGuideResources> Localizer
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>@Localizer["Introduction_Title"]</h3>

<p class="align-baseline">@Localizer["Introduction_Description"]</p>
<button type="button" class="align-baseline" @onclick="NavigateToAssets">
    @Localizer["Introduction_GetStarted"]
</button>

@code {
    private void NavigateToAssets()
    {
        Navigation.NavigateTo("/beginner-guide");
    }
}